<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiles</title>
    <br>
</head>
<body>
    <!-- Image Tags -->
        <!-- <h3>This is a Image tag.</h3>
        <img src="../static/Niranjan.jpg" width="100px" height="100px">
        <br> -->
        <!-- <h1>Hello World</h1> -->
        <!-- <a href="https://www.lenovo.com/in/en/" target="blank"> <img src="../static/laptop.JPG" width="100px" height="100px"></a> -->
        <a href="https://www.apple.com" target="blank"> <img src="../static/mobile.JPG" width="100px" height="100px"></a>
        <!-- <br>
        <a href="https://www.apple.com" target="blank"> <img src="../static/mobile.JPG" width="100px" height="100px"></a>
     -->

        



</body>
</html>